-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.8/index.html
detectron2
numpy==1.20.3
opencv_python==4.5.4.58
pandas==1.3.2
Pillow==8.4.0
streamlit==1.2.0
torch==1.9.1
torchvision==0.10.1
